html
  head
    title Tuduu
    link(href='/css/main.css', rel='stylesheet')
    body.background
      div.d-flex
        img.logo(src='../img/tuduu-logo.png' alt='logo')
        hr

  body
    block content